body {
	margin: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 75%;
}

.ui-button-text {
	padding: .2em .5em !important;
}

#toolbar {
	background-color: #eeeeee;
	padding: 5px;
	border-bottom: 1px solid #cccccc;
}

.toollabel {
	font-weight: bold;
}

.header {
	font-size: 20pt;
	font-weight: bold;
}

.marginleft {
	margin-left: 10px;
}

.ratio {
	width: 35px;
}

#workarea {
	float: left;
	width: 100%;
}

.area {
	padding: 10px;
	float: left;
}

#flagarea {
	width: 60%;
}

#toolarea {
	width: 400px;
	padding: 10px;
}

#divColors {
	margin-top: 7px;
}

#overlays {
	margin-top: 15px;
}

input[type=range] {
	width: 300px;
}

#flag {
	border: 1px solid #000000;
	margin: 10px auto 10px auto;
	background-color: #ffffff;
	display: block;
}