body {
	margin: 0;
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
	font-size: 12pt;
}

#toolbar {
	background-color: #eeeeee;
	padding: 5px;
	border-bottom: 1px solid #cccccc;
}

.toollabel {
	font-weight: bold;
}

.header {
	font-size: 20pt;
	font-weight: bold;
}

.marginleft {
	margin-left: 10px;
}

.ratio {
	width: 35px;
}

#workarea {
	float: left;
	width: 100%;
}

.area {
	padding: 10px;
	float: left;
}

#flagarea {
	width: 60%;
}

#toolarea {
	width: 350px;
	padding: 10px;
}

.divbutton {
	padding: 5px;
	border: 1px solid #91765d;
	background-color: #eeeeee;
	cursor: pointer;
}

input[type=range] {
	width: 300px;
}

#flag {
	border: 1px solid #000000;
	margin: 10px auto 10px auto;
	background-color: #ffffff;
	display: block;
}

#overlayArea {
	padding-top: 15px;
}

.overlay {
	border: 1px solid #91765d;
	padding: 5px;
}
