@media all and (min-width: 980px) {
	#toparea {
		float: left;
		width: 58%;
	}
	
	#toolarea {
		float: left;
		width: 38%;
	}
}

#toparea, #toolarea {
	padding: 0 10px;
}

#ratio {
	padding-top: 10px;
}

#ratio div, #ratio input {
	display: inline-block;
}

#ratio .ui-input-text {
	max-width: 50px;
}

#toolbar {
	font-weight: bold;
}

.toolbarLabel {
	float: left;
	padding-right: 10px;
	padding-top: 15px;
}

.header {
	font-size: 20pt;
	font-weight: bold;
}

.marginleft {
	margin-left: 10px;
}

#flagarea {
	text-align: center;
	margin: 15px;
}

#flag {
	border: 1px solid #000000;
	margin: 10px auto 10px auto;
	background-color: #ffffff;
	display: block;
	width: 100%;
}

.buttons {
	display: inline;
	padding-right: 10px;
}

#overlays {
	overflow-y: scroll;
}
