img { 
	vertical-align: middle;
}

#ratio {
	padding-top: 10px;
}

#ratio div, #ratio input {
	display: inline-block;
}

#ratio .ui-input-text {
	max-width: 50px;
}

#toolbar {
	font-weight: bold;
}

.toolbarLabel {
	float: left;
	padding-right: 10px;
	padding-top: 15px;
}

.header {
	font-size: 20pt;
	font-weight: bold;
}

.marginleft {
	margin-left: 10px;
}

#flagarea {
	text-align: center;
}

/*
#workarea {
	float: left;
	width: 100%;
}

.area {
	padding: 10px;
	float: left;
}

.divbutton {
	padding: 5px;
	border: 1px solid #91765d;
	background-color: #eeeeee;
	cursor: pointer;
}

#divColors {
	margin-top: 10px;
}

input[type=range] {
	width: 100%;
}

#flag {
	border: 1px solid #000000;
	margin: 10px auto 10px auto;
	background-color: #ffffff;
	display: block;
}

#overlayArea {
	padding-top: 15px;
}

.overlay {
	border: 1px solid #91765d;
	padding: 5px;
}
*/